* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
    padding-top: 50px;
    background: linear-gradient(to bottom,  rgb(230, 209, 87), rgb(223, 131, 223));
    font-family: Arial, Helvetica, sans-serif;

}

.frame {
    width: 1200px;
    height: 620px;
    margin: auto;
    position: relative;
    overflow: hidden;
    background: #baa9ee;
    border: 1px solid #dddddd;
    border-radius: 60px 60px 0 0;

}

#bk {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 0;
    pointer-events: none;
}

#firstGroup {
    display: block;
}

#secondGroup {
    display: none;
}

#card1,
#card2,
#card3,
#card4,
#card5,
#card6,
#card7,
#card8,
#card9,
#card10,
#card11,
#card12,
#card13,
#card14 {
    width: 150px;
    height: 250px;
    padding: 8px;
    position: absolute;
    border-radius: 14px;
    background: #f9e7b2;
    transition: transform 0.5s ease;
    cursor: pointer;
    z-index: 2;
}

#card1 img,
#card2 img,
#card3 img,
#card4 img,
#card5 img,
#card6 img,
#card7 img,
#card8 img,
#card9 img,
#card10 img,
#card11 img,
#card12 img,
#card13 img,
#card14 img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 9px;
}

.centerCard {
    width: 170px;
    height: 240px;
    padding: 10px;
    z-index: 5;
    background: #dbeca7;
}

.slot1 {
    top: 430px;
    left: -20px;
    transform: rotate(-39deg);
}

.slot2 {
    top: 290px;
    left: 150px;
    transform: rotate(-36deg);
}

.slot3 {
    top: 135px;
    left: 340px;
    transform: rotate(-17deg);
}

.slot4 {
    top: 75px;
    left: 50%;
    transform: translateX(-50%);
}

.slot5 {
    top: 135px;
    right: 340px;
    transform: rotate(17deg);
}

.slot6 {
    top: 290px;
    right: 150px;
    transform: rotate(36deg);
}

.slot7 {
    top: 450px;
    right: -25px;
    transform: rotate(39deg);
}

.Info {
    width: 300px;
    height: 100px;
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
    border-radius: 90px 90px 0 0;
    background: #4c41a1;
    z-index: 3;

}

.Info p {
    color: #f9e7b2;
    position: relative;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    bottom: -10%;
}

@media (max-width: 900px) {
    .frame {
        height: 520px;
    }

    #card1,
    #card2,
    #card3,
    #card4,
    #card5,
    #card6,
    #card7,
    #card8,
    #card9,
    #card10,
    #card11,
    #card12,
    #card13,
    #card14 {
        width: 120px;
        height: 160px;
    }

    .centerCard {
        width: 140px;
        height: 190px;
    }

    .slot2 {
        left: 70px;
    }

    .slot3 {
        left: 210px;
    }

    .slot5 {
        right: 210px;
    }

    .slot6 {
        right: 70px;
    }
}